<VirtualHost *:80>
        ServerAdmin alejand.valdivi@pupuya.cl
        ServerName glpi
        DocumentRoot /var/www/html/glpi
        <Directory /var/www/html/glpi>
                Options Indexes FollowSymLinks MultiViews
                AllowOverride All
                Order allow,deny
                allow from all
                Require all granted
        </Directory>
        ErrorLog /var/log/httpd/error-glpi.log
        CustomLog /var/log/httpd/access-glpi.log combined
</VirtualHost>
